.profile-container{
    display: flex;
    background-color: rgb(30, 26, 70);
    align-items: center;
    justify-content: center;
    min-height:100vh;
    border-left:2px solid rgb(74, 31, 192);
    border-right:2px solid rgb(74, 31, 192);

.profile-header{
    color: white;
    font-size: 2rem;
}

.profile-card{
    display: flex;
        margin:1em;
        background-color: rgb(192, 207, 235);
        color: black;
        font-size: 1em;
        
        font-weight: bold;
        .profile-pic{
            height:200px;
        }
        .profile-info{
            display: flex;
            // flex-direction: column;
            margin:1rem
        }
        button{
            padding: 0;
            height:2.4em
        }
        .user-info{
            display:flex;
            flex-direction: row;
        }
        // .user-text{
        //     // margin: 1em
        // }
        img{
            margin:1em
            
        }
    }
}
.going-to-event{
    background-color: red;
}