.nav-container{
    background-image: linear-gradient(rgb(48, 9, 85), rgba(29, 44, 160, 0.842));
    color: white;

    .nav-link{
        color: white;
        text-decoration: none;
        font-weight:500;
        font-size: 1.2em;
        &:hover{
            color:rgb(160, 195, 235);
            text-decoration: overline;
        }
    }
}
