.nav-container{
    background-image: linear-gradient(rgb(30, 20, 70), rgba(56, 68, 163, 0.842));
    color: white;

    .nav-link{
        color: white;
        text-decoration: none;
        font-weight:500;
        font-size: 1.2em;
        &:hover{
            color:rgb(160, 195, 235);
            text-decoration: overline;
        }
    }
}
