.nav-container{
    background-color: rgba(0, 0, 0, 0.616);
    color: white;

    .nav-link{
        color: white;
        text-decoration: none;
        font-weight:500;
        font-size: 1.2em;
        &:hover{
            color:rgb(160, 195, 235);
            text-decoration: overline;
        }
    }
}
